
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
}
table{
    margin-left: 145px;
}
#iletisim{
    position: fixed;
    top: 5px;
    right: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
}
